<div>by Asanka Herath</div>
<div>
    <a href="https://github.com/asankah">
        <img src="/images/github.svg" alt="GitHub">
    </a>
    <a href="https://twitter.com/asankah">
        <img src="/images/twitter.svg" alt="Twitter">
    </a>
    <a href="https://www.linkedin.com/in/asankah/">
        <img src="/images/linkedin.svg" alt="LinkedIn">
    </a>
    <a href="mailto:asanka@gmail.com">
        <img src="/images/mail.svg" alt="email">
    </a>
    <a href="{{ "/index.xml" | absURL }}">
        <img src="/images/rss.svg" alt="RSS">
    </a>
</div>