:root {
--emphasized-color: gray;
}

article {
  header {
    h1 {
      margin-bottom: 0;
    }
    margin-bottom: 1em;
  }
}

footer {
padding-top: 1em;
margin-top: 1em;
border-top: 1px solid dimgrey;
}

p {
margin-top: 0;
margin-bottom: 1em;
}

.preface {
// font-size: smaller;
color: var(--emphasized-color);
margin-left: 1em;
margin-right: 1em;
}

.smaller {
font-size: smaller;
}

.quotable {
font-size: larger;
color: var(--emphasized-color);
margin-left: 4em;
margin-right: 4em;
}

.full-bleed {
  grid-column: 1 / -1 !important;
}

figure {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  img {
    max-width: 100%;
  }

  figcaption {
    font-size: smaller;
    color: var(--emphasized-color);
  }
}

.references {
  &::before {
    content: "References";
    display: block;
    font-size: larger;
    padding-top: 1em;
    padding-bottom: 1em;
    padding-left: 0;
  }

  padding-left: 4em;
}

.lastmodified {
  font-size: smaller;
  color: var(--emphasized-color);
  text-align: right;
}
body {
    
      font-family: "EB Garamond", serif;
      font-optical-sizing: auto;
      font-weight: 400;
      font-style: normal;
      font-size: 16pt;
  
    margin: 0;
  }

  h1 {
    
      font-family: "Roboto Condensed", sans-serif;
      font-optical-sizing: auto;
      font-weight: 400;
      font-style: normal;
      font-size: 22pt;
  
  }

  h2 {
    
      font-family: "Roboto Condensed", sans-serif;
      font-optical-sizing: auto;
      font-weight: 400;
      font-style: normal;
      font-size: 20pt;
  
    margin-bottom: 0;
  }

  h3 {
    
      font-family: "Roboto Condensed", sans-serif;
      font-optical-sizing: auto;
      font-weight: 400;
      font-style: normal;
      font-size: 18pt;
  
    margin-bottom: 0;
  }

  code {
    
      font-family: "Roboto Mono", monospace;
      font-optical-sizing: auto;
      font-weight: 400;
      font-style: normal;
      font-size: 12pt;
  
  }

  pre {
    
      font-family: "Roboto Mono", monospace;
      font-optical-sizing: auto;
      font-weight: 400;
      font-style: normal;
      font-size: 12pt;
  
    font-size: smaller;
  }

  .container {
    display: grid;
    grid-template-columns: auto minmax(30rem, 50rem) auto;
    grid-column: 2;

    * {
      grid-column: 2;
    }
  }

  .post-date {
    font-size: 14pt;
    font-style: italic;
    color: #888;
  }

  .post-summary {
    :first-child {
      margin-top: 0;
    }
  }

  .post-more {
    font-size: smaller;
  }

  footer {
    .post-card {
      .post-title { font-size: 16pt; }
      .post-summary { font-size: 12pt; }
    }
  }

  .navlike {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    column-gap: 1em;
    * {
      padding: 0;
      flex-basis: max-content;
      align-self: center;
    }
    .fill { flex-grow: 1; }
  }

  nav {
    color: #333;
    a { color: #333; }

    h1 { font-size: 16pt; font-weight: 600; }
    h2 { font-size: 12pt; }
    * {
      margin-top: 1em;
      margin-bottom: 1em;
    }
  }

  .tag-link {
    a {
      
      font-family: "Roboto Mono", monospace;
      font-optical-sizing: auto;
      font-weight: 400;
      font-style: normal;
      
  
      font-size: 12pt;
      color: #888;
    }
  }

  .material-symbols-outlined {
    font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 20;

    vertical-align: middle;
  }