.socials {
  display: flex;
  flex-direction: horizontal;
  justify-content: center;
  column-gap: 2em;

  margin-top: 2em;
  margin-bottom: 1em;

  * {
    display: block;
  }
}
:root {
  color-scheme: light dark;
  --background: light-dark(rgb(239, 239, 239), rgb(30, 30, 30));
  --border-color: light-dark(rgb(142, 124, 124), rgb(74, 68, 45));
  --aside-border-color: light-dark(rgb(149, 149, 149), rgb(101, 101, 101));
  --text-color: light-dark(rgb(46, 46, 46), rgb(224, 224, 224));
  --blockquote-color: light-dar(rgb(49, 49, 49), rgb(175, 175, 175));
  --heading-text-color: light-dark(rgb(72, 72, 72), rgb(217, 216, 212));
  --dimmed-text-color: light-dark(rgb(49, 49, 49), rgb(175, 175, 175));
  --shadow-color: light-dark(rgb(85, 85, 85), rgb(238, 238, 238));
  --notice-background-color: light-dark(rgb(204, 134, 134), rgb(87, 29, 29));
  --table-odd-row-color: light-dark(rgb(214, 214, 214), rgb(97, 97, 97));
}

:root {
  --font-weight-normal: 400;
  --font-weight-bold: 600;
  --font-size-body: 16pt;
  --font-size-blockquote: 18pt;
  --font-size-aside: 14pt;
  --font-size-series-container: 14pt;
  --font-size-caption: 10pt;
  --font-size-inline-code: 12pt;
  --font-size-block-code: 10pt;
  font-size: 16pt;
}

pre > code.sourceCode {
  white-space: pre;
  position: relative;
}

pre > code.sourceCode > span {
  line-height: 1.25;
}

pre > code.sourceCode > span:empty {
  height: 1.2em;
}

.sourceCode {
  overflow: visible;
}

code.sourceCode > span {
  color: inherit;
  text-decoration: inherit;
}

div.sourceCode {
  margin: 1em 0;
}

pre.sourceCode {
  margin: 0;
}

@media screen {
  div.sourceCode {
    overflow: auto;
  }
}
@media print {
  pre > code.sourceCode {
    white-space: pre-wrap;
  }
  pre > code.sourceCode > span {
    display: inline-block;
    text-indent: -5em;
    padding-left: 5em;
  }
}
pre.numberSource code {
  counter-reset: source-line 0;
}

pre.numberSource code > span {
  position: relative;
  left: -4em;
  counter-increment: source-line;
}

pre.numberSource code > span > a:first-child::before {
  content: counter(source-line);
  position: relative;
  left: -1em;
  text-align: right;
  vertical-align: baseline;
  border: none;
  display: inline-block;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  padding: 0 4px;
  width: 4em;
  color: #aaaaaa;
}

pre.numberSource {
  margin-left: 3em;
  border-left: 1px solid #aaaaaa;
  padding-left: 4px;
}

@media screen {
  pre > code.sourceCode > span > a:first-child::before {
    text-decoration: underline;
  }
}
code span.al {
  color: #ff0000;
  font-weight: bold;
} /* Alert */
code span.an {
  color: #60a0b0;
  font-weight: bold;
  font-style: italic;
} /* Annotation */
code span.at {
  color: #7d9029;
} /* Attribute */
code span.bn {
  color: #40a070;
} /* BaseN */
code span.bu {
  color: #008000;
} /* BuiltIn */
code span.cf {
  color: #007020;
  font-weight: bold;
} /* ControlFlow */
code span.ch {
  color: #4070a0;
} /* Char */
code span.cn {
  color: #880000;
} /* Constant */
code span.co {
  color: #60a0b0;
  font-style: italic;
} /* Comment */
code span.cv {
  color: #60a0b0;
  font-weight: bold;
  font-style: italic;
} /* CommentVar */
code span.do {
  color: #ba2121;
  font-style: italic;
} /* Documentation */
code span.dt {
  color: #902000;
} /* DataType */
code span.dv {
  color: #40a070;
} /* DecVal */
code span.er {
  color: #ff0000;
  font-weight: bold;
} /* Error */
/* Extension */
code span.fl {
  color: #40a070;
} /* Float */
code span.fu {
  color: #06287e;
} /* Function */
code span.im {
  color: #008000;
  font-weight: bold;
} /* Import */
code span.in {
  color: #60a0b0;
  font-weight: bold;
  font-style: italic;
} /* Information */
code span.kw {
  color: #007020;
  font-weight: bold;
} /* Keyword */
code span.op {
  color: #666666;
} /* Operator */
code span.ot {
  color: #007020;
} /* Other */
code span.pp {
  color: #bc7a00;
} /* Preprocessor */
code span.sc {
  color: #4070a0;
} /* SpecialChar */
code span.ss {
  color: #bb6688;
} /* SpecialString */
code span.st {
  color: #4070a0;
} /* String */
code span.va {
  color: #19177c;
} /* Variable */
code span.vs {
  color: #4070a0;
} /* VerbatimString */
code span.wa {
  color: #60a0b0;
  font-weight: bold;
  font-style: italic;
} /* Warning */
:root {
  --large-column-breakpoint: 40rem;
  --medium-column-breakpoint: 30rem;
  --small-column-breakpoint: 10rem;
  --large-breakpoint: 60rem;
}

body {
  font-family: "EB Garamond", serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-weight: var(--font-weight-normal);
  font-size: var(--font-size-body);
  line-height: 1.5;
  background: var(--background);
  color: var(--text-color);
  margin: 0;
}
body > header {
  box-shadow: 0 0 6px var(--shadow-color);
}
body > footer {
  box-shadow: 0 0 6px var(--shadow-color);
}

h1 {
  font-family: "Roboto Condensed", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-weight: var(--font-weight-normal);
  font-size: 2.5rem;
  line-height: 1;
  margin-top: 1rem;
}

h2 {
  font-family: "Roboto Condensed", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-weight: var(--font-weight-normal);
  font-size: 2rem;
  line-height: 1;
  margin-bottom: 0;
}

h3 {
  font-family: "Roboto Condensed", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-weight: var(--font-weight-normal);
  font-size: 1.5rem;
  line-height: 1;
  margin-bottom: 0;
}

h4 {
  font-family: "Roboto Condensed", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-weight: var(--font-weight-normal);
  font-size: 1rem;
  line-height: 1;
}

code {
  font-family: "Roboto Mono", monospace;
  font-optical-sizing: auto;
  font-style: normal;
  font-weight: var(--font-weight-normal);
  line-height: 1.5;
  font-size: var(--font-size-inline-code);
}

pre {
  font-family: "Roboto Mono", monospace;
  font-optical-sizing: auto;
  font-style: normal;
  font-weight: var(--font-weight-normal);
  line-height: 1.5;
  font-size: var(--font-size-block-code);
}

pre.sourceCode {
  padding-left: 2em;
  padding-right: 2em;
}

p,
ul,
ol,
table {
  margin-top: 0;
  margin-bottom: 1rem;
}

main {
  padding-bottom: 1rem;
}

@media (width >= 70rem) {
  .container {
    grid-template-columns: minmax(1rem, auto) minmax(var(--medium-column-breakpoint), var(--large-column-breakpoint)) minmax(10rem, auto);
  }
}
@media (width < 70rem) {
  .container {
    grid-template-columns: minmax(1rem, auto) minmax(var(--medium-column-breakpoint), var(--large-column-breakpoint)) minmax(1rem, auto);
  }
}
.container {
  display: grid;
  grid-column: 2;
}
.container .fullbleed {
  grid-column: 1/-1 !important;
}
.container .horizontal {
  grid-column: 1/-1 !important;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  column-gap: 1rem;
}
.container * {
  grid-column: 2;
}

.notice-container {
  background: radial-gradient(circle at -30% -30%, color-mix(in oklab, var(--notice-background-color) 30%, transparent), color-mix(in oklab, var(--notice-background-color) 0%, transparent) 100%);
  margin-bottom: 0;
}

.notice h1,
.notice h2,
.notice h3 {
  font-size: var(--font-size-body);
  margin: 0.5 auto;
}

.post-card .title a {
  color: var(--heading-text-color);
}
.post-card .title a:visited {
  color: var(--heading-text-color);
}
.post-card .date {
  font-size: 0.8rem;
  font-style: italic;
  color: var(--dimmed-text-color);
}
.post-card .summary :first-child {
  margin-top: 0;
}
.post-card .more {
  font-size: 0.8rem;
}

.preface {
  color: var(--dimmed-text-color);
  margin: 1rem;
  float: right;
  width: calc(100% - 4rem);
  padding: 0.75rem;
  font-size: var(--font-size-aside);
  margin: 1rem;
  background: radial-gradient(circle at -30% -30%, color-mix(in oklab, var(--border-color) 30%, transparent), color-mix(in oklab, var(--border-color) 0%, transparent) 100%);
  border-radius: 0.75rem;
  border: 2px solid hsl(from var(--border-color) h s calc(l + 12));
}
.preface * {
  margin: 1rem auto 0 auto;
}
.preface *:first-child {
  margin-top: 0;
}

header .date,
header .author,
header .readingtime {
  font-size: 0.8rem;
  font-style: italic;
  color: var(--dimmed-text-color);
}

footer .post-card .title {
  font-size: 1rem;
}
footer .post-card .summary {
  font-size: 0.8rem;
}
footer .post-card .date {
  font-size: 0.8rem;
}

.navlike {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  column-gap: 1rem;
}
.navlike * {
  padding: 0;
  flex-basis: max-content;
  align-self: center;
}
.navlike .fill {
  flex-grow: 1;
}

nav {
  color: var(--heading-text-color);
}
nav a {
  color: var(--heading-text-color);
}
nav h1 {
  font-size: 1rem;
  font-weight: 600;
  margin: 1rem auto;
}
nav h2 {
  font-size: 0.8rem;
  margin: 1rem auto;
}
nav .disabled {
  color: var(--dimmed-text-color);
}

.tag-link a {
  font-family: "Roboto Mono", monospace;
  font-optical-sizing: auto;
  font-style: normal;
  font-weight: var(--font-weight-normal);
  line-height: 1.5;
  font-size: var(--font-size-inline-code);
  color: var(--dimmed-text-color);
}
.tag-link a[aria-current=page] {
  font-weight: var(--font-weight-bold);
  color: var(--heading-text-color);
}

.material-symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 20;
  vertical-align: middle;
}

.label {
  font-family: "Roboto Condensed", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-weight: var(--font-weight-normal);
  font-size: var(--font-size-body);
  line-height: 1;
}

article header {
  margin-bottom: 1rem;
}
article header h1 {
  margin-bottom: 0;
}
article p > img,
article ul > img,
article ol > img,
article figure > img {
  margin-top: 0;
  margin-bottom: 1rem;
}
article > blockquote {
  font-family: "EB Garamond", serif;
  font-optical-sizing: auto;
  font-style: italic;
  font-weight: var(--font-weight-normal);
  font-size: var(--font-size-blockquote);
  line-height: 1.5;
}
article figure:has(> p:first-child) {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 3rem;
  padding-right: 3rem;
  position: relative;
}
article figure:has(> p:first-child) > p:first-child::before, article figure:has(> p:first-child) > p:first-child::after {
  content: "";
  display: block;
  position: absolute;
  width: 3rem;
  height: 3rem;
  left: 0;
  filter: opacity(25%);
  background-image: url("/images/double-quotes-left.svg");
  background-position: left top;
  background-repeat: no-repeat;
  background-size: 3rem 3rem;
}
article figure:has(> p:first-child) > p:first-child::after {
  left: auto;
  right: 0;
  background-image: url("/images/double-quotes-right.svg");
  background-position: right top;
}
@media (prefers-color-scheme: dark) {
  article figure:has(> p:first-child) > p:first-child::before, article figure:has(> p:first-child) > p:first-child::after {
    filter: invert(100%) opacity(25%);
  }
}
article .lastmodified {
  font-size: smaller;
  color: var(--dimmed-text-color);
  text-align: right;
}
article .lastmodified p {
  margin-bottom: 0;
}
article .lastmodified p:last-child {
  margin-bottom: 1em;
}
article .references::before {
  content: "References";
  font-family: "Roboto Condensed", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-weight: var(--font-weight-normal);
  font-size: 1.5rem;
  line-height: 1;
  display: block;
  padding-bottom: 1rem;
}
article .references .csl-entry {
  display: flex;
  flex-flow: row nowrap;
  padding-bottom: 1rem;
}
article .references .csl-entry .csl-left-margin {
  width: 3rem;
  flex-shrink: 0;
}
article .references .csl-entry .csl-right-margin {
  flex-grow: 1;
}
article .references .csl-entry .scholar-link {
  font-variant: small-caps;
}
article .glossary,
article .aside {
  float: right;
  width: 40%;
  padding: 0.75rem;
  font-size: var(--font-size-aside);
  margin: 0 0 0 0.5rem;
  background: radial-gradient(circle at -30% -30%, color-mix(in oklab, var(--border-color) 30%, transparent), color-mix(in oklab, var(--border-color) 0%, transparent) 100%);
  border-radius: 0.75rem;
  border: 2px solid hsl(from var(--border-color) h s calc(l + 12));
}
article .glossary *,
article .aside * {
  margin: 1rem auto 0 auto;
}
article .glossary *:first-child,
article .aside *:first-child {
  margin-top: 0;
}
article .footnote-ref {
  padding-inline: 0.3rem;
}
article span.citation {
  vertical-align: super;
  font-size: smaller;
}

.series-container {
  padding-left: 3rem;
  padding-right: 3rem;
  padding-top: 1rem;
  font-size: var(--font-size-series-container);
  float: right;
  width: 60%;
  padding: 0.75rem;
  font-size: var(--font-size-aside);
  margin: 0 0 0 0.5rem;
  background: radial-gradient(circle at -30% -30%, color-mix(in oklab, var(--border-color) 30%, transparent), color-mix(in oklab, var(--border-color) 0%, transparent) 100%);
  border-radius: 0.75rem;
  border: 2px solid hsl(from var(--border-color) h s calc(l + 12));
}
.series-container * {
  margin: 0.2rem auto 0 auto;
}
.series-container *:first-child {
  margin-top: 0;
}
.series-container .series-name {
  font-family: "Roboto Condensed", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-weight: var(--font-weight-normal);
  font-size: var(--font-size-series-container);
  line-height: 1;
}
.series-container .you-are-here {
  font-style: italic;
}

.center {
  text-align: center;
}

figure {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
figure img {
  max-width: 100%;
}
figure figcaption {
  font-size: 0.8rem;
  color: var(--dimmed-text-color);
}

table {
  border: 1px solid;
}
table caption {
  font-family: "Roboto Condensed", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-weight: var(--font-weight-normal);
  font-size: 1.2rem;
  line-height: 1;
  text-align: center;
  margin-bottom: 1rem;
}
table thead {
  border-bottom: 1pt solid var(--border-color);
  font-family: "Roboto Condensed", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-weight: var(--font-weight-normal);
  font-size: var(--font-size-body);
  line-height: 1;
}
table thead th {
  font-weight: var(--font-weight-normal);
  border: 1px solid;
}
table tbody td {
  vertical-align: top;
  border: 1px solid;
}
table tbody .odd {
  background-color: var(--table-odd-row-color);
}

img {
  aspect-ratio: auto;
}

@media (prefers-color-scheme: dark) {
  figure img {
    filter: invert(100%);
  }
  .noinvert {
    filter: none;
  }
}
.sidenote-host-1 {
  anchor-name: --anchor-1;
}

.sidenote-host-2 {
  anchor-name: --anchor-2;
}

.sidenote-host-3 {
  anchor-name: --anchor-3;
}

@media (width >= 70rem) {
  .sidenote-1 {
    position: absolute;
    position-anchor: --anchor-1;
    top: anchor(top);
    left: anchor(right);
    margin-left: 1rem;
    margin-right: 1rem;
    max-width: calc(anchor-size(width) / 2);
    font-family: "EB Garamond", serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-weight: var(--font-weight-normal);
    font-size: var(--font-size-aside);
    line-height: 1.5;
    border-top: 3px solid;
    border-bottom: 1px solid;
    border-image: linear-gradient(in oklab 90deg, rgba(0, 0, 0, 0) 0%, var(--border-color) 50%, rgba(0, 0, 0, 0) 100%) 10;
  }
  .sidenote-1 * {
    margin-left: 0;
    margin-right: 0;
  }
  .sidenote-2 {
    position: absolute;
    position-anchor: --anchor-2;
    top: anchor(top);
    left: anchor(right);
    margin-left: 1rem;
    margin-right: 1rem;
    max-width: calc(anchor-size(width) / 2);
    font-family: "EB Garamond", serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-weight: var(--font-weight-normal);
    font-size: var(--font-size-aside);
    line-height: 1.5;
    border-top: 3px solid;
    border-bottom: 1px solid;
    border-image: linear-gradient(in oklab 90deg, rgba(0, 0, 0, 0) 0%, var(--border-color) 50%, rgba(0, 0, 0, 0) 100%) 10;
  }
  .sidenote-2 * {
    margin-left: 0;
    margin-right: 0;
  }
  .sidenote-3 {
    position: absolute;
    position-anchor: --anchor-3;
    top: anchor(top);
    left: anchor(right);
    margin-left: 1rem;
    margin-right: 1rem;
    max-width: calc(anchor-size(width) / 2);
    font-family: "EB Garamond", serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-weight: var(--font-weight-normal);
    font-size: var(--font-size-aside);
    line-height: 1.5;
    border-top: 3px solid;
    border-bottom: 1px solid;
    border-image: linear-gradient(in oklab 90deg, rgba(0, 0, 0, 0) 0%, var(--border-color) 50%, rgba(0, 0, 0, 0) 100%) 10;
  }
  .sidenote-3 * {
    margin-left: 0;
    margin-right: 0;
  }
  .sidenote-4 {
    position: absolute;
    position-anchor: --anchor-4;
    top: anchor(top);
    left: anchor(right);
    margin-left: 1rem;
    margin-right: 1rem;
    max-width: calc(anchor-size(width) / 2);
    font-family: "EB Garamond", serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-weight: var(--font-weight-normal);
    font-size: var(--font-size-aside);
    line-height: 1.5;
    border-top: 3px solid;
    border-bottom: 1px solid;
    border-image: linear-gradient(in oklab 90deg, rgba(0, 0, 0, 0) 0%, var(--border-color) 50%, rgba(0, 0, 0, 0) 100%) 10;
  }
  .sidenote-4 * {
    margin-left: 0;
    margin-right: 0;
  }
}
@media (width < 70rem) {
  .sidenote-1 {
    margin-left: 4rem;
    font-family: "EB Garamond", serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-weight: var(--font-weight-normal);
    font-size: var(--font-size-aside);
    line-height: 1.5;
    border-top: 3px solid;
    border-bottom: 1px solid;
    border-image: linear-gradient(in oklab 90deg, rgba(0, 0, 0, 0) 0%, var(--border-color) 50%, rgba(0, 0, 0, 0) 100%) 10;
  }
  .sidenote-2 {
    margin-left: 4rem;
    font-family: "EB Garamond", serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-weight: var(--font-weight-normal);
    font-size: var(--font-size-aside);
    line-height: 1.5;
    border-top: 3px solid;
    border-bottom: 1px solid;
    border-image: linear-gradient(in oklab 90deg, rgba(0, 0, 0, 0) 0%, var(--border-color) 50%, rgba(0, 0, 0, 0) 100%) 10;
  }
  .sidenote-3 {
    margin-left: 4rem;
    font-family: "EB Garamond", serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-weight: var(--font-weight-normal);
    font-size: var(--font-size-aside);
    line-height: 1.5;
    border-top: 3px solid;
    border-bottom: 1px solid;
    border-image: linear-gradient(in oklab 90deg, rgba(0, 0, 0, 0) 0%, var(--border-color) 50%, rgba(0, 0, 0, 0) 100%) 10;
  }
  .sidenote-4 {
    margin-left: 4rem;
    font-family: "EB Garamond", serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-weight: var(--font-weight-normal);
    font-size: var(--font-size-aside);
    line-height: 1.5;
    border-top: 3px solid;
    border-bottom: 1px solid;
    border-image: linear-gradient(in oklab 90deg, rgba(0, 0, 0, 0) 0%, var(--border-color) 50%, rgba(0, 0, 0, 0) 100%) 10;
  }
}