.socials {
  display: flex;
  flex-direction: horizontal;
  justify-content: center;
  column-gap: 2em;

  margin-top: 2em;
  margin-bottom: 1em;

  * {
    display: block;
  }
}
@layer layout {
  body {
    margin: 0;
  }
  @media (width >= 70rem) {
    .container {
      grid-template-columns: minmax(1rem, auto) minmax(30rem, 40rem) minmax(1rem, auto);
    }
  }
  @media (width < 70rem) {
    .container {
      grid-template-columns: minmax(1rem, auto) minmax(30rem, 40rem) minmax(1rem, auto);
    }
  }
  .container {
    display: grid;
    grid-column: 2;
    column-gap: 1rem;
  }
  .container > .fullbleed {
    grid-column: 1/-1 !important;
  }
  .container > .horizontal {
    grid-column: 1/-1 !important;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    column-gap: 1rem;
    margin-left: 1rem;
    margin-right: 1rem;
  }
  .container > .horizontal figure {
    margin-left: 0;
    margin-right: 0;
  }
  .container > * {
    grid-column: 2;
  }
  h1 {
    margin-top: 1rem;
  }
  h2,
  h3,
  h4 {
    margin-bottom: 0;
  }
  pre.sourceCode {
    padding-left: 2em;
    padding-right: 2em;
  }
  p,
  ul,
  ol,
  table {
    margin-top: 0;
    margin-bottom: 1rem;
  }
  main {
    padding-bottom: 1rem;
  }
}
@layer header-footer {
  body > header, body > footer {
    box-shadow: 0 0 6px var(--shadow-color);
  }
  footer .post-summary {
    font-size: var(--font-size-caption);
  }
  footer .post-summary .title {
    font-size: var(--font-size-h3);
  }
}
:root {
  color-scheme: light dark;
  --background: light-dark(rgb(239, 239, 239), rgb(30, 30, 30));
  --heading-text-color: #349865;
  --subheading-text-color: #6d85a4;
  --text-color: light-dark(rgb(30, 30, 30), rgb(239, 239, 239));
  --dimmed-text-color: color-mix(in oklch, light-dark(rgb(30, 30, 30), rgb(239, 239, 239)) 60%, light-dark(rgb(239, 239, 239), rgb(30, 30, 30)));
  --border-color: #6d85a4;
  --aside-border-color: #6d85a4;
  --blockquote-color: #D8A24A;
  --shadow-color: light-dark(rgb(30, 30, 30), rgb(239, 239, 239));
  --notice-background-color: color-mix(in oklch, #D86C4A 60%, light-dark(rgb(239, 239, 239), rgb(30, 30, 30)));
  --table-header-border-color: color-mix(in oklch, #D8A24A 60%, light-dark(rgb(239, 239, 239), rgb(30, 30, 30)));
  --table-odd-row-color: color-mix(in oklch, #D8A24A 30%, light-dark(rgb(239, 239, 239), rgb(30, 30, 30)));
  --tag-background-color: color-mix(in oklch, #6d85a4 30%, light-dark(rgb(239, 239, 239), rgb(30, 30, 30)));
  --tag-text-color: light-dark(rgb(30, 30, 30), rgb(239, 239, 239));
}

h1, h2, h3, h4 {
  color: var(--heading-text-color);
}

body {
  background: var(--background);
  color: var(--text-color);
}

:root {
  --font-weight-normal: 400;
  --font-weight-bold: 600;
  --font-size-aside: 10pt;
  --font-size-block-code: 10pt;
  --font-size-blockquote: 18pt;
  --font-size-body: 12pt;
  --font-size-caption: 10pt;
  --font-size-displaymath: 16pt;
  --font-size-h1: 32pt;
  --font-size-h1-title: 18pt;
  --font-size-h2: 20pt;
  --font-size-h2-footer: 14pt;
  --font-size-h3: 18pt;
  --font-size-h4: 16pt;
  --font-size-inline-code: 10pt;
  --font-size-preposition: 14pt;
  --font-size-series-container: 12pt;
  --font-size-small: 10pt;
  --font-size-table-caption: 11pt;
  --font-size-tag: 11pt;
  font-size: 16pt;
}

body {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-weight: var(--font-weight-normal);
  font-size: var(--font-size-body);
  line-height: 1.5;
  font-variation-settings: "wdth" 100;
}

h1 {
  font-family: "Crimson Pro", serif;
  font-optical-sizing: auto;
  font-weight: var(--font-weight-bold);
  font-style: normal;
  font-size: var(--font-size-h1);
  line-height: 1.2;
}

h2 {
  font-family: "Crimson Pro", serif;
  font-optical-sizing: auto;
  font-weight: var(--font-weight-bold);
  font-style: normal;
  font-size: var(--font-size-h2);
  line-height: 1.2;
}

h3 {
  font-family: "Crimson Pro", serif;
  font-optical-sizing: auto;
  font-weight: var(--font-weight-bold);
  font-style: normal;
  font-size: var(--font-size-h3);
  line-height: 1.2;
}

h4 {
  font-family: "Crimson Pro", serif;
  font-optical-sizing: auto;
  font-weight: var(--font-weight-bold);
  font-style: normal;
  font-size: var(--font-size-h4);
  line-height: 1.2;
}

code {
  font-family: "Inconsolata", monospace;
  font-optical-sizing: auto;
  font-weight: var(--font-weight-normal);
  font-style: normal;
  font-variation-settings: "wdth" 100;
  line-height: 1.5;
  font-size: var(--font-size-inline-code);
}

pre {
  font-family: "Inconsolata", monospace;
  font-optical-sizing: auto;
  font-weight: var(--font-weight-normal);
  font-style: normal;
  font-variation-settings: "wdth" 100;
  line-height: 1.5;
  font-size: var(--font-size-block-code);
}

.references::before {
  content: "References";
  font-family: "Crimson Pro", serif;
  font-optical-sizing: auto;
  font-weight: var(--font-weight-bold);
  font-style: normal;
  font-size: var(--font-size-h2);
  line-height: 1.2;
  display: block;
  padding-bottom: 1rem;
  color: var(--heading-text-color);
}
.references .csl-entry {
  padding-bottom: 1rem;
}
.references .csl-entry a {
  display: block;
}

pre > code.sourceCode {
  white-space: pre;
  position: relative;
}

pre > code.sourceCode > span {
  line-height: 1.25;
}

pre > code.sourceCode > span:empty {
  height: 1.2em;
}

.sourceCode {
  overflow: visible;
}

code.sourceCode > span {
  color: inherit;
  text-decoration: inherit;
}

div.sourceCode {
  margin: 1em 0;
}

pre.sourceCode {
  margin: 0;
}

@media screen {
  div.sourceCode {
    overflow: auto;
  }
}
@media print {
  pre > code.sourceCode {
    white-space: pre-wrap;
  }
  pre > code.sourceCode > span {
    display: inline-block;
    text-indent: -5em;
    padding-left: 5em;
  }
}
pre.numberSource code {
  counter-reset: source-line 0;
}

pre.numberSource code > span {
  position: relative;
  left: -4em;
  counter-increment: source-line;
}

pre.numberSource code > span > a:first-child::before {
  content: counter(source-line);
  position: relative;
  left: -1em;
  text-align: right;
  vertical-align: baseline;
  border: none;
  display: inline-block;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  padding: 0 4px;
  width: 4em;
  color: #aaaaaa;
}

pre.numberSource {
  margin-left: 3em;
  border-left: 1px solid #aaaaaa;
  padding-left: 4px;
}

@media screen {
  pre > code.sourceCode > span > a:first-child::before {
    text-decoration: underline;
  }
}
code span.al {
  color: #ff0000;
  font-weight: bold;
} /* Alert */
code span.an {
  color: #60a0b0;
  font-weight: bold;
  font-style: italic;
} /* Annotation */
code span.at {
  color: #7d9029;
} /* Attribute */
code span.bn {
  color: #40a070;
} /* BaseN */
code span.bu {
  color: #008000;
} /* BuiltIn */
code span.cf {
  color: #007020;
  font-weight: bold;
} /* ControlFlow */
code span.ch {
  color: #4070a0;
} /* Char */
code span.cn {
  color: #880000;
} /* Constant */
code span.co {
  color: #60a0b0;
  font-style: italic;
} /* Comment */
code span.cv {
  color: #60a0b0;
  font-weight: bold;
  font-style: italic;
} /* CommentVar */
code span.do {
  color: #ba2121;
  font-style: italic;
} /* Documentation */
code span.dt {
  color: #902000;
} /* DataType */
code span.dv {
  color: #40a070;
} /* DecVal */
code span.er {
  color: #ff0000;
  font-weight: bold;
} /* Error */
/* Extension */
code span.fl {
  color: #40a070;
} /* Float */
code span.fu {
  color: #06287e;
} /* Function */
code span.im {
  color: #008000;
  font-weight: bold;
} /* Import */
code span.in {
  color: #60a0b0;
  font-weight: bold;
  font-style: italic;
} /* Information */
code span.kw {
  color: #007020;
  font-weight: bold;
} /* Keyword */
code span.op {
  color: #666666;
} /* Operator */
code span.ot {
  color: #007020;
} /* Other */
code span.pp {
  color: #bc7a00;
} /* Preprocessor */
code span.sc {
  color: #4070a0;
} /* SpecialChar */
code span.ss {
  color: #bb6688;
} /* SpecialString */
code span.st {
  color: #4070a0;
} /* String */
code span.va {
  color: #19177c;
} /* Variable */
code span.vs {
  color: #4070a0;
} /* VerbatimString */
code span.wa {
  color: #60a0b0;
  font-weight: bold;
  font-style: italic;
} /* Warning */
.sidenote-host-1,
sidenote-anchor-1 {
  anchor-name: --anchor-1;
}

.sidenote-1,
sidenote-card-1 {
  position-anchor: --anchor-1;
}
@media (width < 70rem) {
  .sidenote-1,
  sidenote-card-1 {
    margin: 0 4rem 1rem 4rem;
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-weight: var(--font-weight-normal);
    font-size: var(--font-size-aside);
    line-height: 1.5;
    font-variation-settings: "wdth" 100;
    border-top: 3px solid;
    border-bottom: 1px solid;
    border-image: linear-gradient(in oklab 90deg, rgba(0, 0, 0, 0) 0%, var(--border-color) 50%, rgba(0, 0, 0, 0) 100%) 10;
  }
}
@media (width >= 70rem) {
  .sidenote-1,
  sidenote-card-1 {
    display: block;
    position: absolute;
    top: anchor(top);
    left: anchor(right);
    margin-left: 1rem;
    margin-right: 1rem;
    max-width: calc(anchor-size(width) / 2);
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-weight: var(--font-weight-normal);
    font-size: var(--font-size-aside);
    line-height: 1.5;
    font-variation-settings: "wdth" 100;
    border-top: 3px solid;
    border-bottom: 1px solid;
    border-image: linear-gradient(in oklab 90deg, rgba(0, 0, 0, 0) 0%, var(--border-color) 50%, rgba(0, 0, 0, 0) 100%) 10;
  }
  .sidenote-1 *,
  sidenote-card-1 * {
    margin-left: 0;
    margin-right: 0;
  }
}

.sidenote-host-2,
sidenote-anchor-2 {
  anchor-name: --anchor-2;
}

.sidenote-2,
sidenote-card-2 {
  position-anchor: --anchor-2;
}
@media (width < 70rem) {
  .sidenote-2,
  sidenote-card-2 {
    margin: 0 4rem 1rem 4rem;
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-weight: var(--font-weight-normal);
    font-size: var(--font-size-aside);
    line-height: 1.5;
    font-variation-settings: "wdth" 100;
    border-top: 3px solid;
    border-bottom: 1px solid;
    border-image: linear-gradient(in oklab 90deg, rgba(0, 0, 0, 0) 0%, var(--border-color) 50%, rgba(0, 0, 0, 0) 100%) 10;
  }
}
@media (width >= 70rem) {
  .sidenote-2,
  sidenote-card-2 {
    display: block;
    position: absolute;
    top: anchor(top);
    left: anchor(right);
    margin-left: 1rem;
    margin-right: 1rem;
    max-width: calc(anchor-size(width) / 2);
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-weight: var(--font-weight-normal);
    font-size: var(--font-size-aside);
    line-height: 1.5;
    font-variation-settings: "wdth" 100;
    border-top: 3px solid;
    border-bottom: 1px solid;
    border-image: linear-gradient(in oklab 90deg, rgba(0, 0, 0, 0) 0%, var(--border-color) 50%, rgba(0, 0, 0, 0) 100%) 10;
  }
  .sidenote-2 *,
  sidenote-card-2 * {
    margin-left: 0;
    margin-right: 0;
  }
}

.sidenote-host-3,
sidenote-anchor-3 {
  anchor-name: --anchor-3;
}

.sidenote-3,
sidenote-card-3 {
  position-anchor: --anchor-3;
}
@media (width < 70rem) {
  .sidenote-3,
  sidenote-card-3 {
    margin: 0 4rem 1rem 4rem;
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-weight: var(--font-weight-normal);
    font-size: var(--font-size-aside);
    line-height: 1.5;
    font-variation-settings: "wdth" 100;
    border-top: 3px solid;
    border-bottom: 1px solid;
    border-image: linear-gradient(in oklab 90deg, rgba(0, 0, 0, 0) 0%, var(--border-color) 50%, rgba(0, 0, 0, 0) 100%) 10;
  }
}
@media (width >= 70rem) {
  .sidenote-3,
  sidenote-card-3 {
    display: block;
    position: absolute;
    top: anchor(top);
    left: anchor(right);
    margin-left: 1rem;
    margin-right: 1rem;
    max-width: calc(anchor-size(width) / 2);
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-weight: var(--font-weight-normal);
    font-size: var(--font-size-aside);
    line-height: 1.5;
    font-variation-settings: "wdth" 100;
    border-top: 3px solid;
    border-bottom: 1px solid;
    border-image: linear-gradient(in oklab 90deg, rgba(0, 0, 0, 0) 0%, var(--border-color) 50%, rgba(0, 0, 0, 0) 100%) 10;
  }
  .sidenote-3 *,
  sidenote-card-3 * {
    margin-left: 0;
    margin-right: 0;
  }
}

.sidenote-host-4,
sidenote-anchor-4 {
  anchor-name: --anchor-4;
}

.sidenote-4,
sidenote-card-4 {
  position-anchor: --anchor-4;
}
@media (width < 70rem) {
  .sidenote-4,
  sidenote-card-4 {
    margin: 0 4rem 1rem 4rem;
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-weight: var(--font-weight-normal);
    font-size: var(--font-size-aside);
    line-height: 1.5;
    font-variation-settings: "wdth" 100;
    border-top: 3px solid;
    border-bottom: 1px solid;
    border-image: linear-gradient(in oklab 90deg, rgba(0, 0, 0, 0) 0%, var(--border-color) 50%, rgba(0, 0, 0, 0) 100%) 10;
  }
}
@media (width >= 70rem) {
  .sidenote-4,
  sidenote-card-4 {
    display: block;
    position: absolute;
    top: anchor(top);
    left: anchor(right);
    margin-left: 1rem;
    margin-right: 1rem;
    max-width: calc(anchor-size(width) / 2);
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-weight: var(--font-weight-normal);
    font-size: var(--font-size-aside);
    line-height: 1.5;
    font-variation-settings: "wdth" 100;
    border-top: 3px solid;
    border-bottom: 1px solid;
    border-image: linear-gradient(in oklab 90deg, rgba(0, 0, 0, 0) 0%, var(--border-color) 50%, rgba(0, 0, 0, 0) 100%) 10;
  }
  .sidenote-4 *,
  sidenote-card-4 * {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (width < 70rem) {
  .footnote-preview {
    display: none;
  }
}
@media (width >= 70rem) {
  .footnote-preview {
    top: anchor(top);
    left: anchor(right);
    margin-left: 1rem;
    margin-right: 1rem;
    max-width: calc(anchor-size(width) / 2);
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-weight: var(--font-weight-normal);
    font-size: var(--font-size-aside);
    line-height: 1.5;
    font-variation-settings: "wdth" 100;
    border-top: 3px solid;
    border-bottom: 1px solid;
    border-image: linear-gradient(in oklab 90deg, rgba(0, 0, 0, 0) 0%, var(--border-color) 50%, rgba(0, 0, 0, 0) 100%) 10;
  }
  .footnote-preview * {
    margin-left: 0;
    margin-right: 0;
  }
  .footnote-preview {
    margin-top: 0;
    margin-bottom: 0;
  }
}

@layer base, layout, header-footer, article;
menu.tags {
  color: var(--heading-text-color);
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  column-gap: 0.2rem;
  margin-block-start: 0;
  margin-block-end: 0;
}
menu.tags * {
  display: inline-flex;
}

.notice {
  background: radial-gradient(circle at -30% -30%, color-mix(in oklab, var(--notice-background-color) 30%, transparent), color-mix(in oklab, var(--notice-background-color) 0%, transparent) 100%);
  margin-bottom: 0;
}
.notice aside h1,
.notice aside h2,
.notice aside h3 {
  font-size: var(--font-size-body);
  margin: 0.5 auto;
}

.post-summary h3 a {
  color: var(--heading-text-color);
}
.post-summary h3 a:visited {
  color: var(--heading-text-color);
}
.post-summary .date {
  font-size: var(--font-size-caption);
  font-style: italic;
  color: var(--dimmed-text-color);
}
.post-summary *[itemprop=abstract] :first-child {
  margin-top: 0;
}
.post-summary .more {
  font-size: var(--font-size-caption);
}
.post-summary .summary-row {
  display: flex;
  flex-direction: row;
  column-gap: 1rem;
}
.post-summary .summary-row img {
  display: block;
  max-width: 10rem;
  height: auto;
  margin-top: 1rem;
  margin-bottom: 1rem;
}
.post-summary .summary-row > div {
  flex-grow: 1;
}
@media (width < 50rem) {
  .post-summary .summary-row {
    flex-direction: column;
  }
  .post-summary .summary-row .hero {
    max-width: 100%;
    width: 100%;
    height: 10rem;
    object-fit: cover;
  }
}

.preface {
  color: var(--dimmed-text-color);
  margin: 1rem;
  float: right;
  width: calc(100% - 4rem);
  padding: 0.75rem;
  font-size: var(--font-size-aside);
  margin: 1rem;
  background: radial-gradient(circle at -30% -30%, color-mix(in oklab, var(--border-color) 30%, transparent), color-mix(in oklab, var(--border-color) 0%, transparent) 100%);
  border-radius: 0.75rem;
  border: 2px solid hsl(from var(--border-color) h s calc(l + 12));
}
.preface * {
  margin: 1rem auto 0 auto;
}
.preface *:first-child {
  margin-top: 0;
}

header small,
nav small {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-style: italic;
  font-weight: var(--font-weight-normal);
  font-size: var(--font-size-small);
  line-height: 1.5;
  font-variation-settings: "wdth" 100;
  color: var(--dimmed-text-color);
}

nav {
  color: var(--subheading-text-color);
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  column-gap: 1rem;
}
nav.multiline {
  flex-wrap: wrap;
  column-gap: 0.2rem;
  row-gap: 0.2rem;
  justify-content: left;
}
nav > * {
  padding: 0;
  flex-basis: max-content;
  align-self: center;
}
nav > *:empty {
  flex-grow: 1;
}
nav h1 {
  font-size: var(--font-size-h1-title);
  font-weight: 600;
  margin: 1rem auto;
}
nav h2 {
  font-size: var(--font-size-h2-footer);
  margin: 1rem auto;
}
nav a {
  color: var(--subheading-text-color);
}
nav .disabled {
  color: var(--dimmed-text-color);
}

.tag:not(.katex-html > .tag) * {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-weight: var(--font-weight-normal);
  font-size: var(--font-size-tag);
  line-height: 1.5;
  font-variation-settings: "wdth" 100;
  font-variant-caps: titling-caps;
  color: var(--tag-text-color);
}
.tag:not(.katex-html > .tag) *[aria-current=page] {
  font-weight: var(--font-weight-bold);
}
.tag:not(.katex-html > .tag) {
  padding: 0.3rem 0.5rem;
  color: var(--tag-text-color);
  border: 1px var(--border-color) solid;
  border-radius: 10rem;
  display: inline-flex;
  background-color: var(--tag-background-color);
  margin: 0.2rem;
}

.material-symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 20;
  vertical-align: middle;
}

.label {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-weight: var(--font-weight-normal);
  font-size: var(--font-size-body);
  line-height: 1.5;
  font-variation-settings: "wdth" 100;
}

.smaller {
  font-size: var(--font-size-small);
}

article header {
  margin-bottom: 1rem;
  position: relative;
}
article header .metadata {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-weight: var(--font-weight-normal);
  font-size: var(--font-size-small);
  line-height: 1.5;
  font-variation-settings: "wdth" 100;
}
article header .banner {
  z-index: -1;
  anchor-name: --banner;
}
article header .banner img {
  width: 100%;
  height: auto;
  filter: none;
}
article header .banner-text {
  position-anchor: --banner;
  position: absolute;
  top: calc(anchor(top) + 1rem);
  left: calc(anchor(left) + 1rem);
  right: calc(anchor(right) + 1rem);
  margin: 0;
  text-shadow: 3px 3px 5px black;
  color-scheme: dark;
  color: var(--text-color);
}
article p > img,
article ul > img,
article ol > img,
article figure > img {
  margin-top: 0;
  margin-bottom: 1rem;
}
article .katex {
  font-size: var(--font-size-displaymath);
}
article > blockquote {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-style: italic;
  font-weight: var(--font-weight-normal);
  font-size: var(--font-size-blockquote);
  line-height: 1.5;
  font-variation-settings: "wdth" 100;
}
article figure:has(> p:first-child) {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 3rem;
  padding-right: 3rem;
  position: relative;
}
article figure:has(> p:first-child) > p:first-child::before, article figure:has(> p:first-child) > p:first-child::after {
  content: "";
  display: block;
  position: absolute;
  width: 3rem;
  height: 3rem;
  left: 0;
  filter: opacity(25%);
  background-image: url("/images/double-quotes-left.svg");
  background-position: left top;
  background-repeat: no-repeat;
  background-size: 3rem 3rem;
}
article figure:has(> p:first-child) > p:first-child::after {
  left: auto;
  right: 0;
  background-image: url("/images/double-quotes-right.svg");
  background-position: right top;
}
@media (prefers-color-scheme: dark) {
  article figure:has(> p:first-child) > p:first-child::before, article figure:has(> p:first-child) > p:first-child::after {
    filter: invert(100%) opacity(25%);
  }
}
article figure:has(> img.flush-right) {
  float: right;
  margin-left: 0.5rem;
  margin-right: 0;
  width: 50%;
}
article footer {
  font-size: var(--font-size-caption);
  color: var(--dimmed-text-color);
  text-align: right;
}
article footer p {
  margin-bottom: 0;
}
article footer p:last-child {
  margin-bottom: 1em;
}
article .glossary,
article .aside {
  float: right;
  width: 40%;
  padding: 0.75rem;
  font-size: var(--font-size-aside);
  margin: 0 0 0 0.5rem;
  background: radial-gradient(circle at -30% -30%, color-mix(in oklab, var(--border-color) 30%, transparent), color-mix(in oklab, var(--border-color) 0%, transparent) 100%);
  border-radius: 0.75rem;
  border: 2px solid hsl(from var(--border-color) h s calc(l + 12));
}
article .glossary *,
article .aside * {
  margin: 1rem auto 0 auto;
}
article .glossary *:first-child,
article .aside *:first-child {
  margin-top: 0;
}
article .footnote-ref {
  padding-inline: 0.3rem;
}

.series-container {
  padding-left: 3rem;
  padding-right: 3rem;
  padding-top: 1rem;
  font-size: var(--font-size-series-container);
  float: right;
  width: 60%;
  padding: 0.75rem;
  font-size: var(--font-size-aside);
  margin: 0 0 0 0.5rem;
  background: radial-gradient(circle at -30% -30%, color-mix(in oklab, var(--border-color) 30%, transparent), color-mix(in oklab, var(--border-color) 0%, transparent) 100%);
  border-radius: 0.75rem;
  border: 2px solid hsl(from var(--border-color) h s calc(l + 12));
}
.series-container * {
  margin: 0.2rem auto 0 auto;
}
.series-container *:first-child {
  margin-top: 0;
}
.series-container .series-title {
  font-family: "Crimson Pro", serif;
  font-optical-sizing: auto;
  font-weight: var(--font-weight-bold);
  font-style: normal;
  font-size: var(--font-size-series-container);
  line-height: 1.2;
}
.series-container .you-are-here {
  font-style: italic;
}

figure {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
figure img {
  max-width: 100%;
  object-fit: contain;
  height: auto;
}
figure figcaption {
  color: var(--dimmed-text-color);
}

table {
  border: 1px solid var(--border-color);
  border-spacing: 0;
}
table thead {
  font-family: "Crimson Pro", serif;
  font-optical-sizing: auto;
  font-weight: var(--font-weight-bold);
  font-style: normal;
  font-size: var(--font-size-body);
  line-height: 1.2;
}
table thead th {
  font-weight: var(--font-weight-normal);
  border-bottom: 1pt solid var(--table-header-border-color);
}
table tbody td {
  vertical-align: top;
}
table tbody tr:nth-child(even) {
  background-color: var(--table-odd-row-color);
}
table caption {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-weight: var(--font-weight-normal);
  font-size: var(--font-size-table-caption);
  line-height: 1.5;
  font-variation-settings: "wdth" 100;
  text-align: center;
  margin-bottom: 1rem;
}

@media (prefers-color-scheme: dark) {
  figure img {
    filter: invert(100%);
  }
  .summary-row img {
    filter: invert(100%);
  }
  .summary-row .noinvert {
    filter: none;
  }
  .noinvert {
    filter: none;
  }
}
.force-dark {
  color-scheme: dark;
}